/* body {
    background-color: darkgreen;
    min-height: 100vh;
} */

:root {
    --sidebarbg: crimson;
    --obvsbg: salmon;

}

.shown {
    display: show;
}

.hidden {
    display: none;
}

nav {
    padding-left: 10px;
    padding-right: 10px;
}

.body-padding {
    padding: 20px;
}

.sidebar {
    background-color: var(--sidebarbg);
}

.search-results {
    max-height: 380px;
    overflow-y: auto;
}

.result {
    cursor: pointer;
    
}

.bg-obvs {
    background-color: var(--obvsbg);
}

#mapColumn {
    padding-top: 0;
    padding-bottom: 0;
}

@media screen and (min-width: 769px) {
    .hero-body {
        padding: 1rem 3rem !important;
    }
}

/* 
Bugs
    map doesn't center on search in seattle
    search result card turns red on click
        should center/zoom on result on click
        change curser to clickable on hover?
    phone number should be a callable link? or at least in phone format?
        Nolan
    Get Directions button should be prettier
        The whole popup could be prettier
        need to be able to remove directions

    map height needs a max
    remove max height/overflow from sidebar
    add margin-right to search results
    Brewery Website should be it's own line, not linked in the brewery title
        Nolan
    on marker click, map recenters to search results, should zoom-center on marker
    Map component gets lost with directions out on a small screen
        Chuan

    change search box text to be shorter
    Sort search results? By what?
        Alphabetically
    Directions needs a scroll bar?
        Should we move the directions to their own component on the page?
        Add a functionality to send directions to phone?
        Maybe on Display Directions, the search feature disappears


    if no Lat/Lon, remove from results? Search by address?
*/